
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('Black');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  
  